<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>651207716496-fhggu3a1diss6nn9heqsoq4lav8cijm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651207716496-fhggu3a1diss6nn9heqsoq4lav8cijm4</string>
	<key>API_KEY</key>
	<string>AIzaSyAIaW_wSwBdcTjfsaycx_XmZzISN-2_dKc</string>
	<key>GCM_SENDER_ID</key>
	<string>651207716496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.trySwiftHackathon.Konjac</string>
	<key>PROJECT_ID</key>
	<string>konjac-21bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>konjac-21bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:651207716496:ios:dc08749b3d077fd6</string>
	<key>DATABASE_URL</key>
	<string>https://konjac-21bbc.firebaseio.com</string>
</dict>
</plist>